/*Base Style Question*/

*{
    box-sizing: border-box;
}

body {
font-family: 'PT Sans', sans-serif;
background-color: firebrick;
    
}



/* Main Content*/

h1{
    margin-top: 0;   
    
}

.header{
    background-color: orangered;
    width: 100%;
    padding: .5em; 
  
        
}



#wrap1 {
    background-color: darkred;
    width: 100%;
    padding-left: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
    text-align: center;


    
}

#agree{
    width: 49%;
    float: left;
    margin-top: .5em;
    margin-left: .20em;

}

#disagree{
    width:49%;
    margin-top: .5em;

    
    }


#wrap2 {
    background-color: indianred;
    width: 96%;
    margin: 0 auto;
    
}


/*Image Question*/

#nomos {
    display: none;
    width: 100%;
    border-radius: 1%;
}

#plainmos {
    width: 100%;
    border-radius: 1%;
 }


/*Sign Up Formatting*/

#sign_up {
    border-style:dashed;
    border-width: 10px;
    border-color: red;
    margin: 0 ;
    width: 100%;
    text-align: center;
   
    }

label{
    display: inline-block;
    float: left;
    clear: left;  
    width: 30%;
    text-align: right;
    margin-right: 2%;
}

input {
    display: block;
    width:45%;
    
        
}



#fname{
    margin: 1%;
    
}

#lname{
    margin:1%;
}

#email{
    margin:1%;
}

#submit{
    padding: 1%;
    width:36%
  
  
    
  
    
}





/*Screen Resizing aka Media Queries*/

@media (min-width: 750px){
    #wrap2 {
        width: 86%;
        
    }
    
    
    .col{
        float:left;
        
        
    }
    
    .danger,
    .rid{
        width: 50%;
        padding-left: 1em;
        
    }
    
    .info{
        width:100%;
        padding-top: 1em;
        padding-left: 1em;
        padding-right: 1em;
    }
    
    
  
   
    
    /*Float Clear Fix*/

    .clearfix::after {
        content: "";
        display: table;
        clear:both;
    }

    #sign_up{
        border-style: dotted;
 
        
    } 
    
    .test{
        display: flex;
        flex-wrap: wrap;
      
    }
   
     #wrap1 {
        width: 50%;
        
    }   
    
     #wrap2 {
         order:-1;
         width: 100%;
         
    }
    
    #sign_up{
        width:50%;
        
    }
    
} /**end medium size media query**/




@media (min-width: 1020px){
  
    
    .col {
        
        display: inline-block;
        width: 33%;
        vertical-align: top;
        padding-left: 2em;
        padding-right: 2em;
        padding-top: 1em;
    }
    
    
    
   
    
    .test{
        display: flex;
        flex-wrap: wrap;
      
    }
   
     #wrap1 {
        width: 50%;
        
    }   
    
     #wrap2 {
         order:-1;
         width: 100%;
         
    }
    
    #sign_up{
        width:50%;
        
    }
    
} /**end large size media query**/
















