/*Base Style*/

*{
    box-sizing: border-box;
}

body {
font-family: 'PT Sans', sans-serif;
background-color: firebrick;
    
}



/* Main Content*/

h1{
    margin-top: 0;   
    
}

.header{
    width: 100%;
    padding: .5em; 
    font-family: 'Germania One', sans-serif;
    font-size: 1.5em;
    background-image: linear-gradient(orangered, firebrick);
}



#wrap1 {
    width: 100%;
    padding-left: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
    text-align: center;
    font-size: 1.3em;
    font-family: 'Germania One';
    background-image: linear-gradient(firebrick, indianred);
    

    
}

#agree{
    width: 49%;
    float: left;
    margin-top: .5em;
    margin-left: .20em;
    font-size: .8em;

}

#disagree{
    width:49%;
    margin-top: .5em;
    margin-bottom: .25em;
    font-size: .8em;

    
    }


#wrap2 {
    padding-left: 1em;
    padding-right: 1em;
    margin: 0 auto;
    background-image: linear-gradient(indianred, firebrick);
    
}


/*Image Question*/

#nomos {
    display: none;
    width: 100%;
    border-radius: 1%;
}

#plainmos {
    width: 100%;
    border-radius: 1%;
 }


/*Sign Up Formatting*/

#sign_up {
    
    border-style:dashed;
    border-width: 10px;
    border-color: red;
    margin: 0 ;
    width: 100%;
    text-align: center;
    
   
    }

label{
    display: inline-block;
    float: left;
    clear: left;  
    width: 30%;
    text-align: right;
    margin-right: 2%;
}

input {
    display: block;
    width:45%;
            
}


#fname{
    margin: 1%;
}

#lname{
    margin:1%;
}

#email{
    margin:1%;
}

#submit{
    padding: 1%;
    width:36%
}

  .test{
        display: flex;
        flex-wrap: wrap;
}



/*Screen Resizing aka Media Queries*/

@media (min-width: 750px){
    .header{  
        background-image: linear-gradient(orangered, indianred);
    }
    
     #wrap1{
          background-image: linear-gradient(firebrick, firebrick);
    }
    
    #wrap2 {
        width: 86%;
    }
      
        
    .col{
        float:left;
                
    }
    
    .danger,
    .rid{
        width: 50%;
        padding-left: 1em;
        
    }
    
    .info{
        width:100%;
        padding-top: 1em;
        padding-left: 1em;
        padding-right: 1em;
    }
    
     
    
    /*Float Clear Fix*/

    .clearfix::after {
        content: "";
        display: table;
        clear:both;
    }

    #sign_up{
        border-style: dotted;
 
        
    } 
   
     #wrap1 {
        width: 50%;
        
    }   
    
     #wrap2 {
         order:-1;
         width: 100%;
         
    }
    
    #sign_up{
        width:50%;
        
    }
    
} /**end medium size media query**/




@media (min-width: 1020px){
  
    
    .col {
        
        display: inline-block;
        width: 33%;
        vertical-align: top;
        padding-left: 2em;
        padding-right: 2em;
        padding-top: 1em;
    }
    
       
     #wrap1 {
        width: 50%;
        
    }   
    
     #wrap2 {
         order:-1;
         width: 100%;
         
    }
    
    #sign_up{
        width:50%;
        
    }
    
} /**end large size media query**/
















